
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:cadetblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form{
  background-color: white;
  color: black;
  padding: 20px;
  display: grid;
  gap: 15px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.72); 
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.72);
}
form label {
  display: grid;
  grid-template-columns: 1fr;
}
form label h4{
  text-align: left;
}
input, select, button, option{
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  color: black;
  border: 1px solid #666;
}
button{
  background-color: white;
}
button:hover{
  -webkit-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
box-shadow: 0px 0px 10px 4px rgba(34, 60, 80, 0.2);
}
button:active{
  background-color: rgb(196, 230, 240);
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
select{
  background-color: white;
  display: block;
}
select:required:invalid {
  color: #666;
}

form label span{
  color: red;
  position: relative;
  font-size: 15px;
}
input, select{
  margin-top: 2px;
}
.placeholder{
  font-size: 10px;
  position: relative;
  bottom: -15px;
  text-align: left;
  left: 20px;
  color: #666;

}

h4{
  font-size: 20px;
}
@media only screen and (max-width: 400px){
  form label{
    grid-template-columns: 1fr;
  }

}
